.advantages {
  color: var(--secondary-color);
  text-align: center;
  background: #F9F9F9;
  padding-bottom: 72px;
}

.advantages__title {
  margin-bottom: 25px;
}

.advantages__subtitle {
  margin-bottom: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
}

.advantages__subtitle::before,
.advantages__subtitle::after {
  content: "";
  display: block;
  width: 43px;
  height: 2px;
  background-color: var(--secondary-color);
}

.advantages__descr {
  font-size: 18px;
  line-height: 140.625%;
  max-width: 724px;
  margin: 0 auto;
  margin-bottom: 59px;
}

.advantages__list {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  counter-reset: count 0;
}

.advantages__item {
  flex-basis: 196px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__item::before {
  content: counter(count);
  counter-increment: count;
  color: #FFF;
  background-color: var(--advantages-blue);
  font-size: 57px;
  font-weight: 500;
  line-height: 100%;
  border-radius: 50%;
  margin-bottom: 14px;
  min-width: 122px;
  min-height: 122px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 140.625%;
  max-width: 196px;
}


@media (max-width: 1024px) {

  .advantages__title {
    margin-bottom: 23px;
  }

  .advantages__subtitle {
    margin-bottom: 29px;
  }

  .advantages__descr {
    font-size: 16px;
    max-width: 666px;
  }

  .advantages__item {
    flex-basis: 180px;
  }

  .advantages__item::before {
    margin-bottom: 26px;
  }

  .advantages__text {
    font-size: 18px;
  }


  .advantages__item::before {
    font-size: 52px;
    min-width: 104px;
    min-height: 104px;
  }
}

@media (max-width: 940px) {
  .advantages__item {
    flex-basis: 30%;
  }
}

@media (max-width: 768px) {
  .advantages__item {
    flex-basis: 100%;
  }
}

@media (max-width: 580px) {

  .advantages {
    padding-top: 29px;
    padding-bottom: 64px;
  }

  .advantages__title {
    margin-bottom: 17px;
  }

  .advantages__list {
    gap: 40px;
  }

  .advantages__subtitle {
    margin-bottom: 29px;
  }

  .advantages__subtitle::before,
  .advantages__subtitle::after {
    width: 19px;
  }

  .advantages__descr {
    font-size: 12px;
    margin-bottom: 40px;
  }

  .advantages__item::before {
    margin-bottom: 27px;
  }

}