.footer {
  padding: 45px 0;
  background-color: #2F324B;
}

.footer__copyright {
  display: flex;
  align-items: center;
  gap: 19px;
}

.footer__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__copyright-text,
.footer__author {
  font-size: 12px;
  font-weight: 500;
  line-height: 140.625%;
}


@media (max-width: 1024px) {
  .footer__author {
    opacity: .5;
  }

}

@media (max-width: 780px) {
  .footer {
    padding: 0;
    background: linear-gradient(#2F324B 70%, #2A2C3F 0);
  }

  .footer__copyright {
    padding: 25px 0;
  }

  .footer__author {
    order: 1;
    flex-basis: 100%;
    text-align: center;
    padding: 15px 0;
  }
}

@media (max-width: 580px) {

  .footer {
    background: linear-gradient(#2F324B 63%, #2A2C3F 0);
  }

  .footer__copyright-text {
    font-size: 8px;
  }

}